.space {
    margin-top: 140px;
    align-items: center;
    margin-bottom: 40px;
    color: white;
}

.y {
    margin-top: 25px;
}

.center {
    margin-left: 20%;
}

li {
    display: inline;
    color: blue;
    margin-right: 15px;
}

.style {
    font-family: monospace;
}
